*.pyc
*~
node_modules
docs/api/
coverage/
.DS_Store
.vscode
.babel-cache
.idea/
.pnp.*
.yarn/unplugged
.yarn/cache
.yarn/install-state.gz
venv/
dist/.csslintstamp
dist/.htmllintstamp
dist/.lintstamp
dist/.testcheckstamp
dist/demo.*
